<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>FORM TEST INDEX</title>
    </head>
    <body>
        <h1>INDEX PAGE</h1>
        <h3>Create a user</h3>
        <form action = '/users' method='post'>
            Name: <input type="text" name="name" placeholder="Enter your name">
            Email: <input type="text" name="email" placeholder="Enter valid email">
            <input type='submit' value="Create User">
        </form>
    </body>
</html>
