<html>
    <head>
      <title>Assignment 1</title>
      <style media="screen">
            #square {
                display: block;
                float: left;
                width: 150px;
                height: 150px;
                background: blue;
                margin-right: 10px;
            }
            #page-wrap{
                 border: 2px red bold;
                 width: 800px;
                 margin-left: auto;
                 margin-right: auto;
            }
      </style>
    </head>
    <body>
        <div id='page-wrap'>
            <h1>Welcome!</h1>
            <div id='square'></div>
            <div id='square'></div>
            <div id='square'></div>
        </div>

    </body>
</html>
