<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Basic Validation Example</title>
    </head>
    <body>
        <h1>Enter Any Valid Name:</h1>
        <form action='/process' method = 'post'>
            <p>Name: <input type="text" name="name" placeholder="Enter valid name"></p>
            <label for="email">Email:</label>
            <input id="email" name="email" type="text" placeholder="Enter valid email"><br />
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <p>{{message}}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <input type="submit" value="SUBMIT">
        </form>
    </body>
</html>
